.intro
  position: relative
  top: -120px
  color: #ffffff
  display: flex
  justify-content: center
  flex-direction: column
  background: #000000 url('../images/intro/intro__bg.jpg') no-repeat top center/100% 100%
  z-index: 1
  &__description
    position: relative
    z-index: 10
    min-width: 576px
    margin-right: 32px
    padding-bottom: 198px
    transform: translateX(58px)
  &__title
    @extend %mont-bold
    font-size: 48px
    line-height: 56px
    margin: 0
    margin-bottom: 48px
  &__subtitle
    @extend %roboto-regular
    font-size: 20px
    line-height: 28px
    margin: 0
    margin-bottom: 48px
    max-width: 562px
  &__button-box
    display: flex
  &__about-button
    margin-right: 16px
  &__play-button
    width: 48px
    height: 48px
    border-radius: 50%
    background: $main-color url('../images/intro/play.svg') center no-repeat
    &:hover
      box-shadow: 0 0 20px rgba(255, 255, 255, .4)
  &__main-img
    left: 40px
    top: 176px
    position: relative
    z-index: 2





